@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

@* Toast *@
<div class="toast-container position-fixed bottom-0 end-0 p-3">
<div class="toast align-items-center text-bg-primary border-0 " role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
</div>

<div class="row justify-content-around">
    <h2 class="col">Customers</h2>
    <div class="col d-flex justify-content-end gap-3">
        <button type="button" class="btn btn-primary" id="buttonShowCreateModal">
           New Customer 
        </button>
    </div>
</div>
<div id="customersTable"></div>
<div id="customerCreateModal"></div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
@section Scripts
{
    <script>
        let TOAST_DIV = $(".toast");
        let TOAST = new bootstrap.Toast(TOAST_DIV);
        $(document).ready(function () {
            GetCustomerTable();
            CreateModal();
        });
        
        function GetCustomerTable()
        {
            $.ajax({
                method: "get",
                url: "Customers/GetCustomers/",
                success: function (data) {
                    $("#customersTable").html(data);
                }
            })
        }
        
        function CreateModal()
        {
            $("#buttonShowCreateModal").on("click", function () {
            $.ajax({
                method: "get",
                url: "Customers/Create/",
                success: function (data) {
                    $("#customerCreateModal").html(data);
                    var modal = new bootstrap.Modal("#createModal");
                    modal.show();
                    CreateRequest(modal);
                }
            })
            })
        }
        function CreateRequest(modal)
        {
            const FORM = $("#createCustomerForm");
            FORM.submit(function (event) {
                event.preventDefault();
                if ($(this).valid())
                {
                $.ajax({
                    method: "post",
                    url: "Customers/Create/",
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: $("#name").val(),
                        email: $("#email").val(),
                        cnpj: $("#cnpj").val(),
                        phone: $("#phone").val()
                    }),
                    success: function (response) {
                        if (response.success) {
                            modal.hide();
                            FORM[0].reset();
                            GetCustomerTable();
                            ToastMessage("Customer created successfully.")
                        } else {
                            ShowErrorInRespectiveField(response);
                        }
                    },
                    error: function () {
                        ToastMessage("An error ocurred.");
                    }
                })
                }
            })
        }
        function ShowErrorInRespectiveField(response)
        {
            if (response.field != null)
            {
                let field = response.field + "Validation"
                return $("#"+field).html(response.error);
            }
            return ToastMessage(response.error);
        }
        function ToastMessage(message)
        {
            $(".toast-body").html(message);
            TOAST.hide();
            TOAST.show();
        }
    
    </script>
}
