@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

@await Html.PartialAsync("_Toast")

<div class="row justify-content-around">
    <h2 class="col">Customers</h2>
    <div class="col d-flex justify-content-end gap-3">
        <button type="button" class="btn btn-primary" id="buttonShowCreateModal">
           New Customer 
        </button>
    </div>
</div>
<div id="customersTable"></div>
<div id="customerCreateModal"></div>
@section Scripts
{
    <script>
        let viewBagMessage = @Html.Raw(Json.Serialize(ViewBag.Message));
        let viewBagPageIndex = @Html.Raw(Json.Serialize(ViewBag.PageIndex));
    </script>
    <script src="js/Customers/Index.js"></script>
}